In [2]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [4]:
#df.replace(0, np.nan, inplace=True) #Replacing 0 with NaN



#df.replace("null", np.nan, inplace=True) #Replacing 0 with NaN
#df.fillna( method ='ffill', inplace = True) #Filling with data from next day
df = pd.read_csv('NAS.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-12-18,19.482599,19.596901,19.025499,19.139799,19.139799,4978496.0
1,2003-12-19,19.368299,19.425501,18.282801,18.454201,18.454201,1410901.0
2,2003-12-22,18.739901,18.739901,17.997101,18.054300,18.054300,137047.0
3,2003-12-23,17.997101,17.997101,17.368700,17.425800,17.425800,229418.0
4,2003-12-24,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4248,2020-10-12,0.709000,0.710000,0.650000,0.676800,0.676800,48320475.0
4249,2020-10-13,0.676800,0.676800,0.600000,0.600600,0.600600,47786200.0
4250,2020-10-14,0.601000,0.640000,0.596200,0.626000,0.626000,37534949.0
4251,2020-10-15,0.626000,0.626000,0.585000,0.605000,0.605000,26737615.0
4252,2020-10-16,0.605000,0.620000,0.601000,0.610600,0.610600,15754218.0

In [5]:
df.replace(0, np.nan, inplace=True) #Replacing 0 with NaN
df.dropna(inplace=True)  #Dropping all columns with NaN

In [118]:
#df['Date'] = pd.to_datetime(df['Date'])
#df['Date']=df['Date'].map(dt.datetime.toordinal)

In [24]:
#input = df.drop('Date',axis = 'columns')
#input = df.drop('Open',axis = 'columns')
#input = df.drop('High',axis = 'columns')
#input = df.drop('Low',axis = 'columns')

In [6]:
df = df.reset_index(drop=True)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-12-18,19.482599,19.596901,19.025499,19.139799,19.139799,4978496.0
1,2003-12-19,19.368299,19.425501,18.282801,18.454201,18.454201,1410901.0
2,2003-12-22,18.739901,18.739901,17.997101,18.054300,18.054300,137047.0
3,2003-12-23,17.997101,17.997101,17.368700,17.425800,17.425800,229418.0
4,2003-12-29,17.425800,17.425800,16.854500,17.254400,17.254400,196206.0

In [103]:
#input = pd.to_datetime(df.Date, format='%Y-%m-%d') #dt.strptime(df.Date, '%Y-%m-%d')
#input.head(10)

temp_date = pd.to_datetime(df.Date, format='%Y-%m-%d') #dt.strptime(df.Date, '%Y-%m-%d')
temp_date_delta = temp_date - temp_date.min()
temp_date_reshape = np.reshape([temp_date_delta],(-1,1))
input = temp_date_reshape
input

array([[                 0],
       [    86400000000000],
       [   345600000000000],
       ...,
       [530928000000000000],
       [531014400000000000],
       [531100800000000000]], dtype='timedelta64[ns]')

In [28]:
stock_on_close = df.Close
stock_on_close

0       19.139799
1       18.454201
2       18.054300
3       17.425800
4       17.254400
          ...
4199     0.676800
4200     0.600600
4201     0.626000
4202     0.605000
4203     0.610600
Name: Close, Length: 4204, dtype: float64

In [104]:
regObj = linear_model.LinearRegression()
regObj.fit(input, stock_on_close)

LinearRegression()